.container {
  display: flex;
  flex-direction: column;
  height: 700px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
}

h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

.item, .item-1, .item-2, 
.item-3, .item-4, .item-5 {
  height: 5rem;
  width: 50rem;
}

.item {
  background-color: aquamarine;
}

.item-1 {
  background-color: chartreuse;
}

.item-2 {
  background-color: chocolate;
}

.item-3 {
  background-color: darkgreen;
}

.item-4 {
  background-color: burlywood;
}

.item-5 {
  background-color: darkorchid;
}
